name: CI/CD Pipeline

on:
  push:
    branches: [ "main", "master" ]

jobs:
  # =========================
  # 1️⃣ BACKEND TEST
  # =========================
  backend-test:
    runs-on: ubuntu-latest

    services:
      postgres_test:
        image: postgres:15-alpine
        env:
          POSTGRES_DB: sales_db_test
          POSTGRES_USER: admin_sales_test
          POSTGRES_PASSWORD: secret_test
        ports:
          - 5433:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache: true

      - name: Run backend tests
        working-directory: backend
        env:
          DATABASE_URL: postgres://admin_sales_test:secret_test@localhost:5433/sales_db_test?sslmode=disable
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
        run: |
          go mod tidy
          go test -v ./...

  # =========================
  # 2️⃣ BACKEND BUILD & PUSH
  # =========================
  backend-build:
    runs-on: ubuntu-latest
    needs: backend-test

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            andriputra/sales-system:backend-latest
            andriputra/sales-system:backend-${{ github.sha }}

  # =========================
  # 3️⃣ FRONTEND BUILD & PUSH
  # =========================
  frontend-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            andriputra/sales-system:frontend-latest
            andriputra/sales-system:frontend-${{ github.sha }}
