# File: .github/workflows/ci.yml
name: CI/CD Pipeline

on:
  push:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres_test:
        image: postgres:15-alpine
        env:
          POSTGRES_DB: sales_db_test
          POSTGRES_USER: admin_sales_test
          POSTGRES_PASSWORD: secret_test
        ports:
          - 5433:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Run tests
        env:
          DATABASE_URL: postgres://admin_sales_test:secret_test@localhost:5433/sales_db_test?sslmode=disable
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
        run: go test -v ./...
      
      # Gabungkan build dan push ke dalam satu job
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push application
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          # Ganti ini dengan nama repo tunggal Anda di Docker Hub
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/sales-system:latest